body {
  background-color: #edf1f5;
  font-family: "Ubuntu", sans-serif;
}

table a {
  transition: 0.3s;
}

table a:hover {
  text-decoration: none;
  color: red;
  transition: 0.3s;
}

/* .pagination>li.active>a {
    color: black !important;
    background-color: white !important;
    border-color: black;
} */

.page-item .page-link {
  border-color: black;
  color: #343a40;
}

.page-item.active .page-link {
  border-color: black;
  background-color: #343a40;
  color: white;
}

/* Section Footer */
footer {
  padding: 10px;
}

footer .logofooter ul,
footer .term ul,
footer .copy ul {
  list-style: none;
  display: flex;
}

footer .logofooter .term {
  padding-top: 20px;
}

footer .logofooter .term a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 15px;
}

footer .logofooter .term a:hover {
  color: #f5a637;
}

footer .logofooter .logo {
  margin-left: 20px;
  margin-top: -20px;
}

footer .logofooter .logo a {
  color: white;
  margin-right: 20px;
  padding: 5px 10px;
  transition: 0.3s;
}

footer .logofooter .logo a:hover {
  color: #f5a637;
}

footer .logofooter .copy {
  color: white;
  font-size: 12px;
  margin-top: -5px;
}

body {
  border-style: double;
}

/* Overview Page */
.overview {
  border-radius: 10px;
}

.overview .card-text {
  font-size: 50px;
}

.overview p {
  text-align: left;
  padding-left: 65px;
}
